# **Python List, Tuple and String Manipulation**

This notebook demonstrates basic operations on lists, tuples, and strings in Python.  It covers topics such as:

* **List Creation and Manipulation:** Creating empty and populated lists, appending and removing elements, list concatenation, extending lists, finding maximum and sum of list elements, calculating mean.
* **List Membership and Operations:** Checking for element presence, counting occurrences, reversing and sorting lists.
* **List Indexing and Slicing:** Accessing elements using index and slicing techniques, including steps and negative indices.  Modification of list slices.
* **Nested Lists:** Creating and accessing elements in nested lists.
* **List Deletion:** Using `del` and `.pop()` to remove list elements.
* **Shallow vs. Deep Copy:** Demonstrating the difference between shallow and deep copies of lists, and using the `copy.deepcopy()` method.
* **Tuple Creation and Manipulation:** Creating tuples from lists and other tuples, indexing, slicing.  Demonstration of immutability.
* **String Manipulation:** Basic string operations like indexing, slicing, length calculation, case conversion, counting substrings, finding substring indices, string replacement, concatenation.  String formatting with the `.format()` method.  String stripping with `lstrip()`, `rstrip()`, and `strip()`. Splitting strings using `split()`.


# **Code Examples**

The notebook includes numerous code examples that illustrate each concept. Examples include:

* Creating lists with various data types.
* Modifying lists by adding and removing items.
* Using list methods like `reverse()`, `sort()`, `count()`, and `extend()`.
* Demonstrating the difference between shallow and deep copies with practical scenarios.
* Manipulating tuples including indexing and attempts at modifying their elements (to illustrate immutability).
* Performing various operations on strings, such as indexing, slicing, counting characters, case conversion, and string formatting.

# **Getting Started**

1. **Environment Setup:** This notebook requires a Python environment with basic libraries. A Google Colab or Jupyter Notebook environment is ideal.


## Usage

Execute each cell of code to see the output and follow along with the examples.  Feel free to modify the code and experiment.

In [15]:
my_list = [1, "lesson", 34, True]
print(my_list)

[1, 'lesson', 34, True]

In [16]:
string = "How are you?"
str_list = list(string)
print(str_list)

['H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

In [17]:
empty_list = []
print(empty_list)

[]

In [18]:
empty_list.append("I am good")
print(empty_list)

['I am good']

In [7]:
empty_list.remove("I am good")
empty_list

['I am good']

In [19]:
combined_list = my_list + str_list
print(combined_list)

[1, 'lesson', 34, True, 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

In [20]:
my_list

[1, 'lesson', 34, True]

In [21]:
combined_list_1 = my_list

In [22]:
combined_list_1.extend(str_list)

In [23]:
print(combined_list_1)

[1, 'lesson', 34, True, 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

In [25]:
num_list = [1,2,3,4,5,6,7,8,9,10]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
max(num_list)

10

In [27]:
sum(num_list)

55

In [34]:
mean = sum(num_list) / len(num_list)
mean

5.5

# **Check membership in a list**

In [28]:
1 in num_list

True

In [29]:
1 not in num_list

False

In [30]:
num_list.count(4)

1

# **Reverse and Sort List**

In [31]:
num_list.reverse()

In [32]:
num_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
num_list.sort()
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# **Indexing and Slicing Lists**

In [35]:
my_list

[1,
 'lesson',
 34,
 True,
 'H',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u',
 '?']

In [36]:
my_list[3]

True

In [37]:
my_list[1:4]

['lesson', 34, True]

# **Nested List**

In [38]:
nested_list = [[1,2,3], [3,4,5], [4,5,6]]
nested_list

[[1, 2, 3], [3, 4, 5], [4, 5, 6]]

In [42]:
nested_list[1][2]

5

In [44]:
nested_list[1][0:3]

[3, 4, 5]

In [45]:
my_list

[1,
 'lesson',
 34,
 True,
 'H',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u',
 '?']

In [46]:
# Using steps. Step is 1 by default
my_list[0:8:3]

[1, True, 'w']

In [47]:
my_list[:3]

[1, 'lesson', 34]

In [48]:
my_list[4:]

['H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

In [49]:
my_list[-1]

'?'

In [52]:
my_list[-3:-1]

['o', 'u']

In [55]:
my_list[3:7] = [1,2,3,4]

In [56]:
my_list

[1, 'lesson', 34, 1, 2, 3, 4, ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

In [59]:
del(my_list[0])

In [60]:
my_list

[34, 1, 2, 3, 4, ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?']

In [61]:
del(my_list[5:8])
my_list

[34, 1, 2, 3, 4, 'e', ' ', 'y', 'o', 'u', '?']

In [62]:
# .pop removes the final item from the list
my_list.pop()
my_list

[34, 1, 2, 3, 4, 'e', ' ', 'y', 'o', 'u']

In [63]:
del(my_list[-1]) # this will also remove the final item from the list
my_list

[34, 1, 2, 3, 4, 'e', ' ', 'y', 'o']

In [64]:
copy_list = my_list.copy()
copy_list

[34, 1, 2, 3, 4, 'e', ' ', 'y', 'o']

In [9]:
list1 = [1,2,3]
list2 = ['This is a list', list1]
list2

['This is a list', [1, 2, 3]]

In [2]:
list3 = list2.copy()
list3

['This is a list', [1, 2, 3]]

In [3]:
# check list 2 and list 3 before appending anything to list 1
print(list2)
print(list3)

['This is a list', [1, 2, 3]]
['This is a list', [1, 2, 3]]

In [4]:
# now lets append to list 1
list1.append(4)
list1

[1, 2, 3, 4]

In [5]:
# now lets check list 2 and list 3 again
print(list2)
print(list3)

['This is a list', [1, 2, 3, 4]]
['This is a list', [1, 2, 3, 4]]

In [10]:
# 4 appeared in list 3 because it is a shallow copy of list 2 and not a deep copy. We need to have a deep copy to avoid this.
import copy
list3 = copy.deepcopy(list2)
list3

['This is a list', [1, 2, 3]]

In [11]:
# now lets append to list 1
list1.append(4)
list1

[1, 2, 3, 4]

In [12]:
print(list2)
print(list3)

['This is a list', [1, 2, 3, 4]]
['This is a list', [1, 2, 3]]

4 did not appear in list 3 this time.

# **Tuples and Strings**

In [14]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [15]:
tuple1 = (1,2,3,'I am')
tuple1

(1, 2, 3, 'I am')

In [16]:
tuple1[1:3]

(2, 3)

In [17]:
tuple2 = tuple([2,3,4,5])
tuple2

(2, 3, 4, 5)

Tuples are immutable so we can not append or delete anything

In [19]:
tuple1.append(0)  # this will give an error.

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
del(tuple1[0])  # this will also give an error

TypeError: 'tuple' object doesn't support item deletion

In [22]:
sum(tuple2)

14

In [24]:
tuple1.reverse()  #this will also give an error

AttributeError: 'tuple' object has no attribute 'reverse'

In [25]:
list10 = list(tuple1)
list10.reverse()

In [26]:
list10

['I am', 3, 2, 1]

In [28]:
tuple1[::-1]
# reverse method will not work on tuple. However, we can reverse a tuple using reverse indexing

('I am', 3, 2, 1)

In [31]:
tuple1.count(3)

1

# **Strings**

In [32]:
my_string = 'I am doing WeLL'

In [33]:
my_string[1:4]

' am'

In [34]:
len(my_string)

15

In [35]:
my_string.count('i')

1

In [36]:
my_string.lower().count('i')

2

In [37]:
my_string.upper().count('I')

2

In [39]:
my_string.title()
# this will make all those letters upper case that appear after spaces

'I Am Doing Well'

In [40]:
# we can use .find method in a string to find the index of a letter
my_string.find('W')

11

In [47]:
my_string.replace('I am', 'He is')

'He is doing WeLL'

Since strings are immutable, the .replace() method doesn't modify the original string — it returns a new string with the changes applied.

In [51]:
my_string + ". Let's go."

"I am doing WeLL. Let's go."

We don't have to use + all the time to concatenate strings if we have multiple string variables.

In [53]:
string1 = 'Hi'
string2 = 'My name is'
name1 = 'John'
string3 = 'Nice to meet you'
name2 = 'Lisa'

In [59]:
sentence = "".join([string1," ", string2," ", name1,". ", string3," ", name2, "."])

In [60]:
sentence

'Hi My name is John. Nice to meet you Lisa.'

In [61]:
string4 = "xXtestAccountID: aB0002784cyD000018XxxX"
string4.strip('xXtest')

'AccountID: aB0002784cyD000018'

In [62]:
string4

'xXtestAccountID: aB0002784cyD000018XxxX'

In [63]:
string4.lstrip('xXtest')

'AccountID: aB0002784cyD000018XxxX'

In [64]:
string4.rstrip('Xx')

'xXtestAccountID: aB0002784cyD000018'

.strip() removes characters only from the start and end of the string, not in the middle

In [65]:
string2.split()

['My', 'name', 'is']

In [68]:
string2[1:6].split()

['y', 'nam']

In [71]:
string11 = "     i have     a dog."
string11.strip()

'i have     a dog.'

In [73]:
another_string = "Hello! My name is {}. I work at {}. I have a degree in {}."
name = 'John Wick'
work = 'the High Table'
degree = 'Computer Science'

another_string.format(name, work, degree)

'Hello! My name is John Wick. I work at the High Table. I have a degree in Computer Science.'

SyntaxError: invalid syntax (<ipython-input-74-36335199c707>, line 5)